.neppo-categories-section {
  width: 100%;
  height: 100%;
  margin: 5rem 0;
}

.category-title {
  width: 100%;
  height: 100%;
  margin-bottom: 2rem;

  h1 {
    width: 95%;
    margin: auto;
    font-family: 'Raleway';
    font-size: 2.25rem;
    letter-spacing: 1px;
  }
}

.category-container {
  width: 95%;
  height: auto;
  margin: auto;
  display: flex;
  gap: 1rem;

  .category-list {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;

    .category-item {
      width: 47%;
      height: auto;
      overflow: hidden;
      position: relative;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transform: scale(1.2);
        transition: 0.4s all ease-in-out;

        &:hover {
          transform: scale(1);
          filter: brightness(50%);
        }
      }

      .category-name {
        position: absolute;
        top: 40%;
        right: 30%;
      }
    }
  }

  .category-poster {
    width: 95%;
    height: 700px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: $corner-radius;
    }
  }
}
