.neppo-categories-section {
  width: 100%;
  height: 100%;
}

.category-title {
  width: 95%;
  height: 100%;
  margin: auto auto 2rem auto;

  h1 {
    width: 100%;
    margin: auto;
    font-family: 'Raleway';
    font-size: 2.25rem;
    letter-spacing: 1px;
  }
}

.category-container {
  width: 100%;
  height: auto;
  display: flex;
  gap: 1rem;

  .category-list {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;

    .category-item {
      width: 47%;
      height: 350px;
      overflow: hidden;
      position: relative;
      border-radius: $corner-radius;

      .category-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transform: scale(1.1);
        transition: 0.3s all ease-in-out;
      }

      .category-name {
        position: absolute;
        top: 40%;
        right: 30%;
        color: white;
        visibility: hidden;
        opacity: 0;
        transition: 0.5s all ease-out;
      }

      &:hover {
        .category-img {
          transform: scale(1.2);
          filter: brightness(50%);
        }

        .category-name {
          visibility: visible;
          opacity: 1;
        }
      }
    }
  }

  .category-poster {
    width: 100%;
    height: 730px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: top;
      border-radius: $corner-radius;
    }
  }
}
