.news-letter-section {
  width: 100%;
  height: auto;
  margin: 3rem auto;
  padding: 6rem 0;

  .news-letter-title {
    width: 50%;
    height: auto;
    margin: 0 auto 2rem auto;

    h1 {
      font-family: 'Raleway';
      font-size: 2.65rem;
      text-align: center;
      letter-spacing: 1px;
      line-height: 140%;
    }
  }

  .news-letter-input {
    width: 40%;
    height: auto;
    margin: auto;
    display: flex;
    align-items: center;
    border-top: 3px solid $arrow;
    border-bottom: 3px solid $arrow;
    padding: 13px 0;

    .input-email {
      width: 100%;
      border: none;
      font-size: 1.25rem;
      color: $regular-txt;
      background-color: $bg-base;
    }

    a {
      width: 32px;
      height: 32px;

      .news-letter-arrow {
        width: 100%;
        height: 100%;
        color: $arrow;
      }
    }
  }
}
