// $primary-color: #2b2b2b;
// $corner-radius: 6px;
// $size-paraph: 1.2rem;
// $border: 1px solid black;

// $white: #f5f5f5;
// $black: #333333;

$txt-color: #1b1b1b;
$bg-base: white;

$corner-radius: 6px;

$arrow: #4b4b4b;
