// Import Font
@font-face {
  font-family: 'Poppins';
  src: url('./fonts/Poppins/Poppins-Regular.ttf');
}

@font-face {
  font-family: 'Raleway';
  src: url('./fonts/Raleway/Raleway-VariableFont_wght.ttf');
}

// Import Global
@import './global-variables';
@import './normalize';

// Import Icomoon Icons
@import '../assets/fonts/icomoon-icon.css';

// Import component style
@import './scss/Navbar.scss';
@import './scss/Highlight-Hero.scss';
@import './scss/Product-Card.scss';
@import './scss/Neppo-Profile.scss';
@import './scss/Categories.scss';
@import './scss/News-Letter.scss';
@import './scss/Footer.scss';
@import '@/views/catalogPage/hoodieSection/Catalog-Hoodie.scss';

// Media Queries
// @media (min-width: 1280px) {
//   .section,
//   header {
//     max-width: 1280px;
//     margin: auto;
//     // padding: 0 3rem;
//   }
// }
